* {
    scrollbar-color: #6a8383 #343f3f;
    scrollbar-width: medium;
    scroll-behavior: smooth;
    font-family: 'Oxanium';
    scroll-behavior: smooth;
}

body {
    /* background-color: #000000; */
    background: linear-gradient(to right bottom, #26262C, #15171B );
    /*background-image: url(../image/bg.jpg);*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 24px;
}

#mainName {
    font-family: 'Russo One', sans-serif;
}

#minor {
    font-family: 'Ubuntu', sans-serif;

}

.grad {
    background: linear-gradient(to bottom, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradDef {
    background: linear-gradient(to right, #FF6A00 40%, #FF00DC 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#awwawa {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 24px;
}

#awwawa:link,
#awwawa:visited {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 24px;
}

#awwawa:hover,
#awwawa:active {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(38, 150, 255);
    font-size: 24px;
}

/*menu back----------------------------*/
.mback {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;
    top: 0%;
    left: 0%;
}

.mback .img-h {
    width: 240px;
    height: 90px;
    display: table;
    position: fixed;
    z-index: -1;
}

.mback .img-nh {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;

}

.mback:hover .img-nh {
    opacity: 0%;
}

/* home links */
.linkpng {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.linkpng .img-nh {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.linkpng .img-h {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.linkpng:hover .img-h {
    display: inline;
}

.linkpng:hover .img-nh {
    opacity: 0%;
}


/* about me */
#abt {
    white-space: pre;
}