#content {
    list-style-position: inside;
    border-radius: 1rem;
    border: 2px solid #8a8a8a;
    min-width: min-content;
    max-width: 900px;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    column-gap: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #15171B88;
    text-align: left;
}

h1 {
    color: white;
}

.sectionHeading {
    color: white;
    padding-top: 30px;
    font-size: 3rem;
    color: #fc6450
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    padding-top: 15px
}

pre {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.main {
    height: 80%
}

a {
    border-radius: 5px;
}

.itemLink:link,
.itemLink:visited {
    color: #67e6c6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.itemLink:hover,
.itemLink:active {
    color: #fc6450
}

img {
    border-radius: 15px;
    width: 640px;
    height: auto;
}

li {
    font-size: 1rem;
}

@media (min-resolution: 1.5dppx) {
    .sectionHeading {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    pre {
        font-size: 3rem;
    }
    li {
        font-size: 2rem;
    }
}