* {
    scrollbar-color: #6a8383 #343f3f;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-family: 'Oxanium';
    scroll-behavior: smooth;
}

body {
    /*background-color: #000000;*/
    background-image: url(image/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h3 {
    font-family: 'Russo One', sans-serif;
    color: white;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 24px;
}

pre {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 24px;
}

/*menu back----------------------------*/
.mback {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;
    top: 0%;
    left: 0%;
}

.mback .img-h {
    width: 240px;
    height: 90px;
    display: table;
    position: fixed;
    z-index: -1;
}

.mback .img-nh {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;

}

.mback:hover .img-nh {
    opacity: 0%;
}