/* layout for skin list page */
body {
    background: linear-gradient(to right bottom, #26262C, #15171B);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    text-align: center;
    margin: 0 auto;
}

/* .itemGrid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    grid-auto-columns: auto;
    gap: 50px;
    justify-content: center;
} */

.item {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background-color: #15171B;
    width: 720px;
}

.itemHomeGrid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
}

.itemProfileGrid {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.itemHomeHeight {
    height: 200px;
}

.itemHomeWidth {
    width: 400px;
}

.itemProfile {
    width: 256px;
}

.dl,
.dl:visited {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.dl:hover,
.dl:active {
    color: #fc6450;
}

.itemName {
    text-align: center;
    margin: 0 auto;
    color: #e2dfdb;
    background-color: #42484b30;
    margin-right: 2vw;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Consolas';
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.itemLongName {
    font-size: 30px;
}

.itemAsLink {}

/* doesnt work :( */
.itemAsLink:hover {
    color: #fc6450
}

img,
iframe {
    border-radius: 15px;
}

.itemDescription {
    font-size: 24px;
    color: rgb(200, 200, 200)
}

#previewOverlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    z-index: 1000;
    position: fixed;
}

#previewDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    font-size: 50px;
    color: white;
    background-color: #15171B;
    border-radius: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.previewButton {
    background-color: #646a6d4b;
    border-radius: 5px;
    padding: 5px;
}

.imageSwitcher {
    a {
        margin: 0 0.25em;
    }

    a:hover {
        color: #fc6450;
    }
}