html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #000000; */
    background: linear-gradient(to right bottom, #26262C, #15171B);
    /*background-image: url(../image/bg.jpg);*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-right: 20%;
}

p {
    font-family: ubuntu;
}

h2 {
    font-family: 'Russo One', sans-serif;
}

.dl:link,
.dl:visited {
    color: rgb(103, 230, 198);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.dl:hover,
.dl:active {
    background-color: rgb(0, 20, 49);
    color: rgb(236, 66, 35);
}

.skinname {
    color: rgb(226, 223, 219);
    background-color: rgb(66, 72, 75);
    margin-right: 25px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Consolas';
    font-weight: bolder;
}

.skinname:link,
.skinname:visited {
    color: rgb(103, 230, 198);
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

.skinname:hover,
.skinname:active {
    background-color: rgb(0, 20, 49);
    color: rgb(236, 66, 35);
}

/*menu back----------------------------*/
.mback {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;
    top: 0%;
    left: 0%;
}

.mback .img-h {
    width: 240px;
    height: 90px;
    display: table;
    position: fixed;
    z-index: -1;
}

.mback .img-nh {
    width: 240px;
    height: 90px;
    position: fixed;
    display: table;

}

.mback:hover .img-nh {
    opacity: 0%;
}

/*.mback{
  position:fixed;
  top:0%;
  left:0%;
}
/**/
.side-bar {
    right: 0;
    top: 0;
    width: 20%;
    height: 50%;
    position: fixed;
    border-style: groove;
    background: linear-gradient(to bottom, #0F111A, #0A0C12 40%);
    /* background-color: linear-gradient(to right, rgb(0, 20, 49), rgb(103, 230, 198), rgb(236, 66, 35)) */
}

@-moz-document url-prefix() {
    .side-bar {
      height: 55%;
    }
  }