body {
  /*background-color: #000000;*/
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p {
  src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
  font-family: 'Ubuntu', sans-serif;
}
h2 {
  font-family: 'Nikkyou Sans';
  src: url(https://www.fontspace.com/nikkyou-sans-font-f31053);
  color:white;
}

a:link, a:visited {
    background-color: black;
    color: rgb(103, 230, 198);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(68, 136, 240);
    color: rgb(236, 66, 35);
  }
    /*menu back----------------------------*/
    .mback {
      width: 240px;
      height: 90px;
      position: fixed;
      display: table;
      top:0%;
      left:0%;
    }
    .mback .img-h {
      width: 240px;
      height: 90px;
      display: table;
      position: fixed;
      z-index: -1;
    }
    .mback .img-nh{
      width: 240px;
      height: 90px;
      position: fixed;
      display: table;
      
    }
    .mback:hover .img-nh{
    opacity: 0%;
    }
    /*mediafire----------------------------*/
    .mediafire {
      width: 100px;
      height: 100px;
      position: relative;
      margin: auto;  
    }
    .mediafire .img-h {
      width: 100px;
      height: 100px;
      position: relative;
      margin: auto;  
    }
    .mediafire .img-nh{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      
    }
    .mediafire:hover .img-h{
      display: inline;
    }
    .mediafire:hover .img-nh{
    opacity: 0%;
    }
    /*meganz----------------------------*/
    .meganz {
      width: 100px;
      height: 100px;
      position: relative;
      margin: auto;  
    }
    .meganz .img-h {
      width: 100px;
      height: 100px;
      position: relative;
      margin: auto;  
    }
    .meganz .img-nh{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .meganz:hover .img-h{
      display: inline;
    }
    .meganz:hover .img-nh{
    opacity: 0%;
    }