:root {
    --bg-main: #0F111A;
    --bg-aside: #090B10;
    --border: #1E212D;
    --clrs-blue: #82aaff;
    --clrs-cyan: #89ddff;
    --clrs-green: #c3e88d;
    --clrs-magenta: #c792ea;
    --clrs-red: #f07178;
    --clrs-orange: #F78C6C;
    --clrs-yellow: #ffcb6b;
    --basic-text: #B2CCD6;
    --unimportant-text: #505a5e;
    --none: #00000000;
    --highlight: #1E212D;
    --highlightAlt: #313649;
    --sidebarAnim: 500ms ease-in-out;
    --gradient: linear-gradient(rgb(65, 88, 132), rgb(113, 108, 121));
    --linkHighlight: #fc6450;
    --linkDefault: var(--clrs-magenta);
}

#mainTitle {
    /* background: linear-gradient(to right, #FF6A00 1%, #FF00DC 99%); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
    text-align: center;
    width: 500px;

}

.mainObject {
    /* display: ; */
    display: block;
    clear: both;
    margin: auto;
    width: 400px;
    height: 400px;
}

#mainTitle {
    width: 500px;
    height: auto;
}

#content {
    text-align: center;
}

.indexSocialItem {
    display: inline-block;
    margin: 0 25px;
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: 250ms;

    /* vertical-align: middle; */
    img {
        width: 100px;
    }
}

#socialSection {
    opacity: 100%;
}

#socialSection:hover {
    transition: 250ms;
    .indexSocialItem {
        opacity: 20%;
    }
    .indexSocialItem:hover {
        opacity: 100%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .mainObject {
        width: 200px;
        height: 200px;
    }
    #mainTitle {
        width: 250px;
    }
}