#items {
    display: inline-block;
    text-align: center;
}

.portfolioItem {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background-color: var(--bg-aside);
    border: 3px solid var(--border);
    width: 420px;
    height: auto;
}

.portfolioName {
    text-align: center;
    margin: 0 auto;
    color: var(--clrs-yellow);
    background-color: var(--bg-title);
    margin-right: 2vw;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Consolas', monospace;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.portfolioContent {
    display: inline-block;

    img {
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        height: 245px;
        max-width: 420px;
        max-height: 245px;
        object-fit: cover;
        /* clear: both; */
    }
}

.usedStuff {
    clear: both;
    width: 100%;
    display: inline-block;
}

/* https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip text */
.tooltipContainer .tooltipText {
    visibility: hidden;
    background-color: var(--highlight);
    color: var(--basic-text);
    text-align: center;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 6px;
    position: absolute;
}

.tooltipContainer {
    display: inline-block;
    svg, img {
        padding: 8px;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipContainer:hover .tooltipText {
    visibility: visible;
}

/*  */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .portfolioItem {
        width: 250px;
        height: auto;
    }
    .portfolioName {
        font-size: 20px;
    }
    .portfolioContent {
        img {
            height: 122px;
            max-width: 250px;
            max-height: 122px;
            object-fit: cover;
            /* clear: both; */
        }
    }
    .tooltipContainer {
        svg, img {
            width: 25px;
            height: 25px;
            object-fit: contain;
        }
    }
}