:root {
    --bg-main: #0F111A;
    --bg-aside: #090B10;
    --border: #1E212D;
    --clrs-blue: #82aaff;
    --clrs-cyan: #89ddff;
    --clrs-green: #c3e88d;
    --clrs-magenta: #c792ea;
    --clrs-red: #f07178;
    --clrs-orange: #F78C6C;
    --clrs-yellow: #ffcb6b;
    --basic-text: #B2CCD6;
    --unimportant-text: #505a5e;
    --none: #00000000;
    --highlight: #1E212D;
    --highlightAlt: #313649;
    --sidebarAnim: 500ms ease-in-out;
    --gradient: linear-gradient(rgb(65, 88, 132), rgb(113, 108, 121));
    --linkHighlight: #fc6450;
    --linkDefault: var(--clrs-magenta);
}

header {
    /* background-color: #334465; */
    color: white;
    padding: 20px 0;
    text-align: center;
    cursor: default;
}

#linkGrid {
    /* margin: 0 10vw; */
    display: inline-block;
    text-align: center;
    width: 100%;
    /* margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    grid-auto-columns: auto;
    gap: 50px;
    justify-content: center; */
}

.gridItem {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background-color: var(--bg-aside);
    border: 3px solid var(--border);
    width: fit-content;
    height: fit-content;
}